h1 {
  text-align: center;
  font-family: sans-serif;
}

main {
  padding: 1em;
  font-family: Arial, Helvetica, sans-serif;
  display: block;
}

footer {
  text-align: center;
  font-size: 0.8em;
  width: 100%;
  position: absolute;
  bottom: 20px;
}
footer a {
  text-decoration: none;
  font-family: sans-serif;
}
footer a:hover {
  text-decoration: underline;
}
